* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  padding: 35px 30px;
  width: 340px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  border-top: 8px solid #d32f2f;
}

h2 {
  color: #b71c1c;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 22px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 15px;
}

input:focus {
  border-color: #2e7d32;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

#btnLogin {
  background-color: #d32f2f;
  color: white;
}
#btnLogin:hover {
  background-color: #b71c1c;
}

#btnRegistro {
  background-color: #2e7d32;
  color: white;
}
#btnRegistro:hover {
  background-color: #1b5e20;
}

#mensaje {
  margin-top: 15px;
  font-size: 14px;
  color: #b71c1c;
}
